<!doctype hmtl>

<title>Mole Doctor</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">

<section class="content">
    <header>

        <h1>Welcome to the mole doctor<sup>*</sup></h1>
        <h3><sup>*</sup>(not a real doctor)</h3>
        <img src="{{ url_for('static', filename='mole.png') }}" />
    </header>

    <form id="image_form" action="" enctype="multipart/form-data" method="POST">
        <div>
            <p>Upload Picture:</p>
            <p><input id="upload_button" type="file" name="file"></p>
            <p><input id="submit_button" type="submit" value="Upload">
        </div>
    </form>
    {% if user_image %}
    <img src="{{ url_for('static', filename=user_image) }}" width="400" height="400" alt="User Image">
    {% endif %}

    {% if classes %}
    <table>
        <thead>
          <tr>
            <th>Classification</th>
            <th>Percentage</th>
          </tr>
        </thead>
        <tbody>
        {% for p in predictions %}
         <tr>
             <td> {{ classes[loop.index-1] }} </td>
             <td> {{ p }} </td>
         </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}

    <h2>
        Created by <a href="https://www.linkedin.com/in/fr%C3%A9d%C3%A8rick-franck/" target="_blank">Frédèrick
            Franck</a>
    </h2>
    <h2>
        How it's made &nbsp;<a href="https://github.com/FrederickFranck/challenge-CV" target="_blank"><img width="35" height="35" src="{{ url_for('static', filename='github_logo_b.png') }}" alt="github_logo"></a>
    </h2>
</section>

</html>